# Maven / Gradle
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# macOS
.DS_Store
